.player {
  background: #f09f8b;
  height: 200px;
  position: relative;
  width: 100%;
  z-index: 2;
}

.sc_radio .title,
.sc_radio .artist {
  font-family: verdana;
  left: 133px;
  position: absolute;

  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.sc_radio .title {
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  top: 23px;
}

.sc_radio .artist {
  color: #eeeeee;
  font-size: 12px;
  top: 40px;
}

.sc_radio .pl {
  background: url(../images/playlist.png) no-repeat;
  cursor: pointer;
  height: 40px;
  left: 330px;
  position: absolute;
  top: 20px;
  width: 39px;
}

.sc_radio .pl:hover {
  top: 21px;
}

.sc_radio .cover {
  border-radius: 5px 5px 5px 5px;
  height: 94px;
  left: 20px;
  position: absolute;
  top: 30px;
  width: 94px;
}

.sc_radio .controls {
  cursor: pointer;
  left: 0px;
  position: absolute;
  top: 65px;
  left: 122px;
}

.sc_radio .controls .play,
.sc_radio .controls .pause {
  width: 60px;
  height: 60px;
  margin: 0 5px 0px 5px;
}

.sc_radio .controls .play,
.sc_radio .controls .pause,
.sc_radio .controls .rew,
.sc_radio .controls .fwd,
.sc_radio .controls .stop {
  text-indent: -10000px;
  border: none;
  float: left;
}

.sc_radio .controls .rew,
.sc_radio .controls .fwd,
.sc_radio .controls .stop {
  width: 50px;
  height: 50px;
  margin: 5px 5px 5px 5px;
}

.sc_radio .controls .play {
  background: url(../images/play.png) no-repeat;
}

.sc_radio .controls .pause {
  background: url(../images/pause.png) no-repeat;
  display: none;
}

.sc_radio .controls .rew {
  background: url(../images/rewind.png) no-repeat;
}

.sc_radio .controls .fwd {
  background: url(../images/next.png) no-repeat;
}

.sc_radio .controls .stop {
  background: url(../images/stop.png) no-repeat;
}

.sc_radio .hidden {
  display: none;
}

.sc_radio .controls .visible {
  display: block;
}

.sc_radio .volume {
  height: 11px;
  left: 10px;
  position: absolute;
  top: 142px;
  width: 357px;
}

.mute .volume-btn {
  background: url(../images/volume-off.png) no-repeat;
}

.sc_radio .volume-btn {
  background: url(../images/volume-up.png) no-repeat;
  height: 20px;
  width: 20px;
  float: left;
  position: relative;
  top: -4px;
}

.sc_radio .volume-adjust {
  height: 11px;
  position: relative;
  width: 90%;
  background: #fff;
  float: right;
}

.volume-adjust>div>div {
  height: 11px;
  background: #151b48;
}

.sc_radio .progressbar {
  background-color: #fff;
  cursor: pointer;
  z-index: 1;
  right: 6.875em;
  /* 110 */
  height: 15px;
  left: 0px;
  position: absolute;
  width: 90%;
  top: 170px;
  margin: 0px 5%;
}

.sc_radio .novolume .progressbar {
  right: 4.375em;
  /* 70 */
}

.sc_radio .progressbar div {
  width: 0%;
  height: 15px;
  position: absolute;
  left: 0;
  top: 0;
}

.sc_radio .bar-loaded {
  background-color: #f1f1f1;
  z-index: 1;
}

.sc_radio .bar-played {
  background: #151b48;
  z-index: 2;
}

.sc_radio .timeHolder {
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  bottom: 10px;
  position: absolute;
  margin: 0px 5%;
  width: 90%;
}

.sc_radio .time-current,
.sc_radio .time-duration,
.sc_radio .time-separator {
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}

.sc_radio .volume .ui-slider-handle {
  background: url("../images/spr.png") no-repeat scroll -201px -188px rgba(0, 0, 0, 0);
  height: 13px;
  width: 13px;
}

.sc_radio .playlist {
  display: none;
}

.sc_radio .playlist li,
.sc_radio .playlist div {
  color: #151b48;
  cursor: pointer;
  margin: 0 0 5px 15px;
}

.sc_radio .playlist li>a,
.sc_radio .playlist div>a {
  color: #151b48;
  text-decoration: none;
}

.sc_radio .playlist li.active,
.sc_radio .playlist div.active {
  font-weight: bold;
}

.sc_radio .slick-dots {
  bottom: 5px !important;
}

.sc_radio .slick-dots li button:before {
  font-size: 8px !important;
}

.sc_radio .stp_custom_circle .plyr .plyr__control:hover,
.sc_radio .stp_custom_circle .plyr .plyr__control:focus,
.sc_radio .stp_custom_circle .plyr .plyr__control:focus-visible {
  background: transparent;
}

.sc_radio .stp_custom_circle .plyr {
  width: fit-content;
}

.sc_radio .stp_custom_circle .plyr .plyr__controls {
  background: transparent;
}