/**
 * 05. Widget
 */
.control-section{

  .streamcast-csf-field{
    padding: 0;

    .streamcast-csf-title{
      float: none;
      width: 100%;
      margin-bottom: 6px;

      h4{
        display: block;
        font-size: 13px;
        line-height: 1;
        font-weight: 600;
        color: inherit;
      }
    }

    .streamcast-csf-fieldset{
      float: none;
      width: 100%;
    }
  }

  .streamcast-csf-help{
    top: -5px;
    right: -5px;
  }

  .streamcast-csf-field-select select{
    width: 100%;
  }

  .streamcast-csf-field-heading{
    color: inherit;
    font-size: 14px;
    line-height: 1em;
    margin-right: -15px;
    margin-left: -15px;
    padding: 15px;
  }

  .streamcast-csf-field-subheading{
    color: inherit;
    font-size: 11px;
    margin-right: -15px;
    margin-left: -15px;
    padding: 10px 15px;
  }

  .streamcast-csf-subtitle-text{
    margin-top: 4px;
    font-size: 12px;
  }

  .streamcast-csf-field-submessage .streamcast-csf-submessage{
    margin-right: -15px;
    margin-left: -15px;
    padding: 15px;
  }

  .streamcast-csf-fieldset{

    .streamcast-csf-field-submessage .streamcast-csf-submessage,
    .streamcast-csf-field-heading,
    .streamcast-csf-field-subheading{
      margin-left: 0;
      margin-right: 0;
    }
  }

  .streamcast-csf-field-date,
  .streamcast-csf-field-datetime{

    label{
      display: block;
    }

    .streamcast-csf--to{
      margin-top: 4px;
      margin-left: 0;
    }
  }

  .streamcast-csf-field-sorter{

    ul li{
      padding: 5px;
    }

    .streamcast-csf-modules{
      float: none;
      width: 100%;
    }

    .streamcast-csf-modules:first-child{
      padding-right: 0;
      padding-bottom: 15px;
    }
  }

  .streamcast-csf-field-background{

    .streamcast-csf--background-attributes{
      flex-direction: column;
    }
  }

  .streamcast-csf-field-spacing{
    input{
      width: 90px;
    }
  }

  .streamcast-csf-field-border{

    .streamcast-csf--input{
      flex: 1 50%;
    }

    input,
    select{
      width: 100%;
    }
  }

  .streamcast-csf-field-spinner{
    input{
      width: 50px;
    }
  }

  .streamcast-csf-field-number{

    .streamcast-csf--wrap{
      width: 100%;
    }
  }

  .streamcast-csf-field-backup{

    .streamcast-csf-export-data{
      display: none;
    }
  }

  .streamcast-csf-field-fieldset{

    .streamcast-csf-fieldset-content{
      border-color: #e5e5e5;
    }
  }

  .streamcast-csf-tabbed-content,
  .streamcast-csf-sortable-content,
  .streamcast-csf-repeater-content,
  .streamcast-csf-fieldset-content,
  .streamcast-csf-cloneable-content,
  .streamcast-csf-accordion-content{

    > .streamcast-csf-field{
      padding: 10px;

      .streamcast-csf-title{
        margin-bottom: 5px;
      }

      h4{
        font-size: 12px;
      }
    }
  }

  .streamcast-csf-depend-hidden.streamcast-csf-depend-on{
    display: none !important;
  }

  .streamcast-csf-depend-visible.streamcast-csf-depend-on{
    border-top: 0 !important;
  }
}
